<launch>
  <arg name="drone_id" default="0"/>
  <arg name="drone_id_ns" value="drone$(arg drone_id)"/>

  <arg name="back_end_planner_cfg_filepath" default="$(find gestelt_bringup)/config/back_end.yaml"/>

  <!-- Back-end Planner -->
  <include file="$(find back_end_planner)/launch/include/back_end_planner.xml">
      <arg name="cfg_filepath" value="$(arg back_end_planner_cfg_filepath)"/>

      <arg name="drone_id" value="$(arg drone_id)"/>
  </include>

</launch>
