<launch>
  <arg name="rviz_config" default="default"/>
  <arg name="cloud_topic_downsample_in" default="camera/depth/points" />
  <arg name="cloud_topic_downsample_out" default="camera/depth/points_downsampled" />
  <arg name="map_filepath" default="$(find gestelt_bringup)/simulation/fake_maps/demo_map.pcd" />

  <!-- Add static transform from world to map -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf" args="0 0 0 0 0 0 1 world map 100"> </node>

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find gestelt_bringup)/launch/rviz/$(arg rviz_config).rviz"/>

  <!-- Fake map publisher -->
  <node pkg="fake_map" type="fake_map_publisher" name="fake_map_publisher" output="screen">
      <remap from="/fake_map" to="/fake_map"/>

      <param name="map/file_path" value="$(arg map_filepath)"/>
      <param name="map/publish_freq" value="2"/>
      <param name="map/frame_id" value="world"/>
  </node>

</launch>
