<launch>
    <!-- Drone id -->
    <arg name="drone_id"/>
    <arg name="drone_id_ns" value="drone$(arg drone_id)"/>
    <arg name="num_drones"/>
    <arg name="init_x"/>
    <arg name="init_y"/>
    <arg name="init_z"/>
    <!-- size of map, change the size inflate x, y, z according to your application -->
    <arg name="map_size_x"/>
    <arg name="map_size_y"/>
    <arg name="map_size_z"/>
    <arg name="map_path"/>
    <!-- Input/output topics -->
    <arg name="command_topic"/>
    <arg name="odometry_topic"/>
    <arg name="pose_topic"/>
    <arg name="depth_img_topic"/>
    <arg name="point_cloud_topic"/>

    <include file="$(find gestelt_bringup)/launch/ego_planner.launch">
        <arg name="px4_device" value="false" />
        <arg name="drone_origin_frame" value="world" />

        <arg name="drone_id"   value="$(arg drone_id)"/>
        <arg name="init_x"     value="$(arg init_x)"/>
        <arg name="init_y"     value="$(arg init_y)"/>
        <arg name="init_z"     value="$(arg init_z)"/>
        <arg name="num_drones" value="$(arg num_drones)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="pose_topic" value="$(arg pose_topic)"/>
        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="depth_img_topic" value="$(arg depth_img_topic)"/>
        <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
        <arg name="command_topic" value="$(arg command_topic)" />
    </include>

    <!-- Simulated quadcopter -->
    <group ns="$(arg drone_id_ns)">
        <node pkg="simple_quad_sim" type="px4_quad_node" name="px4_quad_node" output="screen">
            <rosparam command="load" file="$(find simple_quad_sim)/../config/simulation_parameters.yaml" />
            <rosparam command="load" file="$(find simple_quad_sim)/../config/map_parameters.yaml" />
            <param name="agent/mesh_resource" value="file://$(find simple_quad_sim)/../meshes/fake_drone.dae" />
            <param name="agent/id" value="$(arg drone_id_ns)"/>
            <param name="agent/start_x" value="$(arg init_x)"/>
            <param name="agent/start_y" value="$(arg init_y)"/>
            <param name="agent/start_z" value="$(arg init_z)"/>
            <!-- yaw offset currently not being used -->
            <param name="agent/yaw_offset" value="0.0"/>
            <param name="map/path" value="$(arg map_path)"/>
        </node>
    </group>

</launch>