<launch>
  <arg name="num_drones" default="5"/>
  <arg name="rviz_config" default="default"/>
  <arg name="cloud_topic" default="camera/depth/points" />
  <arg name="cloud_topic_ds" default="camera/depth/points_downsampled" />

  <!-- swarm topic transmitter bridge-->
  <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
    <arg name="drone_id" value="999"/>
    <arg name="broadcast_ip" value="192.0.0.255"/>
  </include>

  <!-- Add static transform from world to map -->
  <node pkg="tf" type="static_transform_publisher" 
    name="world_to_map_tf" 
    args="0 0 0 0 0 0 1 world map 100">
  </node>

  <!-- Collision checker -->
  <!-- <node pkg="central_benchmark" type="swarm_collision_checker" 
    name="swarm_collision_checker" output="screen">
    <param name="~num_drones" value="$(arg num_drones)" />
    <param name="~collision_tolerance" value="0.6" />
    <param name="~check_collision_freq" value="10.0" />
    <param name="~tf_lookup_timeout" value="10.0" />
  </node> -->

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" 
    args="-d $(find gestelt_bringup)/launch/rviz/$(arg rviz_config).rviz"/>

</launch>
