<launch>
  <arg name="num_drones" default="3"/>
  <arg name="rviz_config" default="default"/>
  <arg name="cloud_topic" default="camera/depth/points" />
  <arg name="cloud_topic_ds" default="camera/depth/points_downsampled" />
  <arg name="map_filepath" default="$(find gestelt_bringup)/simulation/fake_map_worlds/almost_empty_map.pcd" />

  <!-- Global map publisher -->
  <node pkg="fake_map" type="fake_map_publisher" name="fake_map_publisher" output="screen">
      <param name="map/path" value="$(arg map_filepath)"/>
  </node>

  <include file="$(find gestelt_bringup)/launch/sitl/sitl_central.launch">
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="cloud_topic_downsample_in" value="$(arg cloud_topic)"/>
    <arg name="cloud_topic_downsample_out" value="$(arg cloud_topic_ds)"/>
  </include>

</launch>
