<!-- Spawns a fake drone for testing architecture and algorithms-->

<launch>
  <arg name="drone_id" default="0"/>
  <arg name="drone_id_ns" value="drone$(arg drone_id)"/>
  <arg name="fake_drone_cfg_filepath" default="$(find gestelt_bringup)/config/fake_drone_params.yaml"/>

  <!-- Fake drone -->
  <include file="$(find fake_drone)/launch/include/fake_drone.xml">
      <arg name="cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="$(arg drone_id)"/>

      <arg name="init_x" value="0.0"/>
      <arg name="init_y" value="0.0"/>
      <arg name="init_z" value="0.0"/>

  </include>

</launch>
