<launch>
  <!-- num_drones must be at least 2 even if we are planning for a single drone -->
  <arg name="num_drones" value="5"/>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" value="80.0"/>
  <arg name="map_size_y" value="80.0"/>
  <arg name="map_size_z" value=" 3.0"/>
  <!-- Input/output topics -->
  <arg name="command_topic" value="mavros/setpoint_raw/local" />
  <arg name="odometry_topic" value="mavros/local_position/odom" />
  <arg name="pose_topic" value="mavros/local_position/pose" />
  <arg name="point_cloud_topic" value="map" />
  <arg name="depth_img_topic" value="camera/depth/image_raw" />

  <!-- swarm topic transmitter bridge-->
  <!-- This bridge subscribes to and re-broadcasts the trajectories of all drones -->
  <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
    <arg name="drone_id" value="999"/>
    <arg name="broadcast_ip" value="127.0.0.255"/>
  </include>

  <node pkg="gestelt_bringup" type="swarm_collision_checker" 
    name="swarm_collision_checker" output="screen">
    <param name="~num_drones" value="$(arg num_drones)" />
    <param name="~collision_tolerance" value="0.6" />
    <param name="~check_collision_freq" value="10.0" />
  </node>

  <!-- Drone 0 -->
  <include file="$(find gestelt_bringup)/launch/gazebo/single_ego_planner.launch">
    <arg name="drone_id"   value="0"/>
    <arg name="init_x"     value="1.0"/>
    <arg name="init_y"     value="-1.0"/>
    <arg name="init_z"     value="0.0"/>
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="depth_img_topic" value="$(arg depth_img_topic)"/>
    <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <arg name="command_topic" value="$(arg command_topic)" />
  </include>

  <!-- Drone 1 -->
  <include file="$(find gestelt_bringup)/launch/gazebo/single_ego_planner.launch">
    <arg name="drone_id"   value="1"/>
    <arg name="init_x"     value="1.0"/>
    <arg name="init_y"     value="1.0"/>
    <arg name="init_z"     value="0.0"/>
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="depth_img_topic" value="$(arg depth_img_topic)"/>
    <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <arg name="command_topic" value="$(arg command_topic)" />
  </include>

  <!-- Drone 2 -->
  <include file="$(find gestelt_bringup)/launch/gazebo/single_ego_planner.launch">
    <arg name="drone_id"   value="2"/>
    <arg name="init_x"     value="-1.0"/>
    <arg name="init_y"     value="-1.0"/>
    <arg name="init_z"     value="0.0"/>
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="depth_img_topic" value="$(arg depth_img_topic)"/>
    <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <arg name="command_topic" value="$(arg command_topic)" />
  </include>

  <!-- Drone 3 -->
  <include file="$(find gestelt_bringup)/launch/gazebo/single_ego_planner.launch">
    <arg name="drone_id"   value="3"/>
    <arg name="init_x"     value="-1.0"/>
    <arg name="init_y"     value="1.0"/>
    <arg name="init_z"     value="0.0"/>
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="depth_img_topic" value="$(arg depth_img_topic)"/>
    <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <arg name="command_topic" value="$(arg command_topic)" />
  </include>

</launch>
