<?xml version="1.0"?>
<model>
  <name>Raynor</name>
  <version>1.0</version>
  <sdf version='1.6'>raynor.sdf</sdf>

  <author>
   <name>john</name>
   <email>johntgz@nus.edu.sg</email>
  </author>

  <description>
    This is a fake model of the raynor quadcopter with the approximate dimensions. Meshes are not originally created by author.
  </description>
</model>
