<launch>
  <arg name="drone_id" default="0"/>
  <arg name="drone_id_ns" value="drone$(arg drone_id)"/>
  <arg name="navigator_cfg_filepath" default="$(find gestelt_bringup)/config/navigator.yaml"/>

  <arg name="cloud_topic" default="camera/depth/points"/>
  <arg name="odometry_topic" default="mavros/local_position/odom" />

  <arg name="global_frame" default="world"/>
  <arg name="uav_origin_frame" default="world"/>
  <arg name="cam_frame" default="cam_link"/>

  <arg name="map_filepath" default="$(find gestelt_bringup)/simulation/fake_maps/forest_single.pcd" />

  <!-- Add static transform from world to map -->
  <node pkg="tf" type="static_transform_publisher" 
    name="world_to_map_tf" args="0 0 0 0 0 0 1 world map 100"> </node>

  <node pkg="voronoi_planner" type="voronoi_planner_node" 
      name="voronoi_planner_node" output="screen">
    <rosparam command="load" file="$(find voronoi_planner)/config/voronoi_planner.yaml" />
    <!-- <param name="map_filename" value="$(find voronoi_planner)/maps/empty_room.pgm"/> -->
    <!-- <param name="map_filename" value="$(find voronoi_planner)/maps/map_circular.pgm"/> -->
    <param name="map_filename" value="$(find voronoi_planner)/maps/map.pgm"/>

    <rosparam command="load" file="$(arg navigator_cfg_filepath)" />

    <param name="drone_id" value="$(arg drone_id)"/>

    <param name="front_end/debug_planning" value="false"/>

    <remap from="odom" to="$(arg odometry_topic)"/>

    <remap from="grid_map/odom" to="$(arg odometry_topic)"/>
    <remap from="grid_map/cloud" to="$(arg cloud_topic)"/>

    <param name="grid_map/global_frame" value="$(arg global_frame)"/>
    <param name="grid_map/uav_origin_frame" value="$(arg uav_origin_frame)"/>
    <param name="grid_map/cam_frame" value="$(arg drone_id_ns)_$(arg cam_frame)"/>

    <param name="grid_map/pose_type" value="2"/>
    <param name="grid_map/sensor_type" value="1"/>

    <!-- For debugging use -->
    <param name="grid_map/debug_input_entire_map" value="true"/>
    <param name="grid_map/entire_pcd_map_topic" value="/fake_map"/>

  </node>

  <!-- Fake map publisher -->
  <node pkg="fake_map" type="fake_map_publisher" name="fake_map_publisher" output="screen">
      <remap from="/fake_map" to="/fake_map"/>

      <param name="map/file_path" value="$(arg map_filepath)"/>
      <param name="map/publish_freq" value="1.0"/>
      <param name="map/frame_id" value="world"/>
  </node>


  <node name="rviz" pkg="rviz" type="rviz" required="true" 
        args="-d $(find gestelt_bringup)/launch/rviz/testing.rviz"/>

</launch>
