<launch>
  <arg name="drone_id"/>
  <!-- num_drones must be at least 2 even if we are planning for a single drone -->
  <arg name="num_drones" value="5"/>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" value="5.0"/>
  <arg name="map_size_y" value="5.0"/>
  <arg name="map_size_z" value="2.5"/>
  <!-- Input/output topics -->
  <arg name="cloud_topic_ds" value="camera/depth/points_downsampled" />
  <!-- POSE_TYPE/SENSOR_TYPE: Use value of 1 for actual map, 3 for fake_map-->
  <arg name="POSE_TYPE" default="3" />
  <arg name="SENSOR_TYPE" default="1" />
  <param name="/use_sim_time" value="false" />

  <!-- Ego planner -->
  <include file="$(find gestelt_bringup)/launch/ego_planner.launch">
    <arg name="drone_id"   value="$(arg drone_id)"/>
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic_ds)"/>
    <arg name="POSE_TYPE" value="$(arg POSE_TYPE)" />
    <arg name="SENSOR_TYPE" value="$(arg SENSOR_TYPE)" />
    <arg name="drone_origin_frame" value="world" />
  </include>

</launch>
