<launch>
    <!-- ros_master_uri is the machine on which ROSCore is running -->
    <arg name="ros_master_uri" default="http://localhost:11311"/>
    <!-- ros_ip is the ip of the current machine -->
    <arg name="ros_ip" default="localhost"/>

    <env name="ROS_MASTER_URI" value="$(arg ros_master_uri)"/>
    <env name="ROS_IP" value="$(arg ros_ip)"/>

    <node pkg="radxa_utils" type="listener" name="listener_0" output="screen"/>

</launch>
