<launch>
  <arg name="rviz_config" default="default"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true" 
    args="-d $(find gestelt_bringup)/launch/rviz/$(arg rviz_config).rviz"/>

  <node pkg="gestelt_bringup" name = "drone_ellipsoid_vis" type = "drone_ellipsoid_vis.py" output="screen" ></node>
</launch>
