<launch>
  <arg name="drone_id"/>
  <arg name="drone_id_ns" value="drone$(arg drone_id)"/>

  <node pkg="rosbag" type="record" name="$(arg drone_id_ns)_record" output="screen"
    args="record -O /tmp/bubble_planner_$(arg drone_id_ns) 
      /tf
      /$(arg drone_id_ns)/front_end/sfc_trajectory
      /$(arg drone_id_ns)/sfc_spherical
      /$(arg drone_id_ns)/sfc_samp_dir_vec
      /$(arg drone_id_ns)/sfc_dist
      /$(arg drone_id_ns)/sfc_cand_points
      /$(arg drone_id_ns)/sfc_waypoints
      /$(arg drone_id_ns)/back_end_planner/optimal_list
      /$(arg drone_id_ns)/mavros/local_position/pose
      /$(arg drone_id_ns)/mavros/local_position/odom
      /$(arg drone_id_ns)/grid_map/collision_viz
  ">
  </node>
  
</launch>
