<launch>
  <arg name="platform" default="laptop"/> <!-- for the python.prof check-->

  <rosparam file="$(find gestelt_bringup)/config/learning_agile_mission.yaml" command="load"/>
  <node pkg="gestelt_bringup" name="mission" type="learning_agile_ROS_mission.py">
        <param name="is_simulation" value="True"/>
        
  </node>


</launch>