<!-- Spawn fake drones for testing algorithms-->

<launch>
  <arg name="fake_drone_cfg_filepath" default="$(find gestelt_bringup)/config/fake_drone_params.yaml"/>
  <arg name="a" default="2"/>
  <arg name="b" default="2"/>
  <arg name="height" default="0.5"/>

  <node pkg="swarm_collision_checker" name="swarm_collision_checker" 
        type="swarm_collision_checker_node" output="screen">
    <param name="num_drones" value="10"/>
    <param name="pose_topic" value="mavros/local_position/pose"/>
    <param name="check_collision_freq" value="20.0"/>
    <param name="collision_check/warn_radius" value="0.225"/>
    <param name="collision_check/fatal_radius" value="0.14"/>
  </node>


  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="0"/>

      <arg name="init_x" value="$(eval arg('a') + arg('b'))"/>
      <arg name="init_y" value="$(eval arg('a'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="1"/>

      <arg name="init_x" value="$(eval arg('a') + arg('b'))"/>
      <arg name="init_y" value="$(eval -arg('a'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="2"/>

      <arg name="init_x" value="$(eval arg('a'))"/>
      <arg name="init_y" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="3"/>

      <arg name="init_x" value="$(eval - arg('a'))"/>
      <arg name="init_y" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="4"/>

      <arg name="init_x" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_y" value="$(eval - arg('a'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="5"/>

      <arg name="init_x" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_y" value="$(eval arg('a'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="6"/>

      <arg name="init_x" value="$(eval -arg('a'))"/>
      <arg name="init_y" value="$(eval arg('a') + arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="7"/>

      <arg name="init_x" value="$(eval arg('a'))"/>
      <arg name="init_y" value="$(eval arg('a') + arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>

  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="8"/>

      <arg name="init_x" value="$(eval arg('a') + arg('b'))"/>
      <arg name="init_y" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>


  <include file="$(find gestelt_bringup)/launch/fake_drone/include/fake_drone_complete.xml">
      <arg name="fake_drone_cfg_filepath" value="$(arg fake_drone_cfg_filepath)"/>

      <arg name="drone_id" value="9"/>

      <arg name="init_x" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_y" value="$(eval - arg('a') - arg('b'))"/>
      <arg name="init_z" value="$(arg height)"/>
  </include>


</launch>
