<launch>
      <node pkg="dynamic_brushfire" type="static_brushfire_node" 
        name="static_brushfire_node" output="screen">
      <rosparam command="load" file="$(find dynamic_brushfire)/config/dynamic_brushfire.yaml" />
      </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true" 
        args="-d $(find gestelt_bringup)/launch/rviz/testing.rviz"/>

</launch>
