<launch>
  <!-- Launches a test mission -->
  <node pkg="gestelt_bringup" name="mission" type="learning_agile_mission.py">
        <param name="is_simulation" value="True"/>
  </node>

    <node pkg="gestelt_bringup" name="learning_agile_agent" type="learning_agent_node.py" output="screen">  
  </node>
   <!-- Start rosbag to record setpoint_raw and local_position -->
   <!-- path have to be absolute path-->
  <node pkg="rosbag" type="record" name="record" output="screen" args="-o $(find gestelt_bringup)/data/
  /mavros/setpoint_raw/local 
  /mavros/local_position/pose 
  /mavros/setpoint_raw/attitude 
  /planner/sample_trajectory 
  /learning_agile_agent/traverse_time 
  /learning_agile_agent/gate_centroid   
  /learning_agile_agent/callback_runtime
  /learning_agile_agent/solver_input_state"/>
  <!-- <node pkg="rosbag" type="record" name="record" output="screen" args="-a -o /home/tianchensun/gestelt_ws/data/ "/> -->

</launch>