<launch>
  <!-- Launches a test mission -->
    <node pkg="gestelt_bringup" name="mission" type="Multiple_Circle_Trajectory.py">  
        <param name="is_simulation" value="False"/>
  </node>


  <!--for circular mission  only-->
  <!-- <node pkg="trajectory_publisher" type="trajectory_publisher" name="trajectory_publisher" output="screen">
        <param name="trajectory_type" value="1" />
        <param name="shape_omega" value="1.2" /> 
        <param name="initpos_z" value="1.2" />
        <param name="reference_type" value="2" />
  </node> 

  <node pkg="gestelt_bringup" name="mission" type="circular_mission_modify_mavros.py">
  </node> -->
  
  <!-- Start rosbag to record setpoint_raw and local_position -->
  <!-- path have to be absolute path-->
  <node pkg="rosbag" type="record" name="record" output="screen" args="-a -o /home/rock/gestelt_ws/data/flight_data/"/>

</launch>