<launch>
  <!-- Launches a test mission -->
  <rosparam file="$(find gestelt_bringup)/config/learning_agile_mission.yaml" command="load"/>
  <node pkg="gestelt_bringup" name="mission" type="learning_agile_mission.py" >
        <param name="is_simulation" value="False"/>
  </node>

  
    
  
  <!-- Start rosbag to record setpoint_raw and local_position -->
  <!-- path have to be absolute path-->
  <!-- <node pkg="rosbag" type="record" name="record" output="screen" args="-a -o /home/rock/gestelt_ws/data/flight_data/"/> -->

</launch>