<launch>
  <!-- Launches a test mission -->
  <node pkg="gestelt_bringup" name="mission" type="Multiple_Circle_Trajectory.py">  
        <param name="is_simulation" value="True"/>
  </node>
   <!-- Start rosbag to record setpoint_raw and local_position -->
   <!-- path have to be absolute path-->
   <arg name="record_topics" default="
    (.*)mavros(.*)
  (.*)traj_server(.*)
  (.*)planner(.*)
  "
  />
  <node pkg="rosbag" type="record" name="record" output="screen" args="-o /home/tianchensun/gestelt_ws/data/ 
  -e $(arg record_topics)"/>
  <!-- <node pkg="rosbag" type="record" name="record" output="screen" args="-a -o /home/tianchensun/gestelt_ws/data/ "/> -->

</launch>