  <launch>
  <arg name="record_topics" default="
  (.*)mavros(.*)
  (.*)traj_server(.*)
  (.*)learning_agile_agent(.*)
 "/>


  <node pkg="rosbag" type="record" name="record" output="screen" args="-o $(find gestelt_bringup)/data/
  -e $(arg record_topics)"/> 

  <!-- record all topics -->
  <!-- <node pkg="rosbag" type="record" name="record" output="screen" args="-a -o $(find gestelt_bringup)/data/"/> -->

  </launch>


    <!-- /learning_agile_agent/traverse_time /planner/sample_trajectory   /learning_agile_agent/solver_input_state 
  /learning_agile_agent/gate_centroid    -->