<!-- Spawns Gazebo model and PX4 SITL instances -->

<launch>

  <!-- world_filename_rel is defined relative to gestelt_bringup/simulations/worlds -->
  <arg name="world_filename_rel" default="empty.world" />
  <!-- world_filename_abs is absolute filepath -->
  <arg name="world_filename_abs" default="$(find gestelt_bringup)/simulation/worlds/$(arg world_filename_rel)" />

  <!-- Gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_filename_abs)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="physics" value="ode"/>
  </include>


  <include file="$(find gestelt_bringup)/launch/sitl/include/sitl_drone_complete.xml">
    <arg name="drone_id"   value="0"/>
    <arg name="init_x"  value="0.0"/>
    <arg name="init_y"  value="0.0"/>
  </include>

</launch>
