<launch>
   <!--load from the param config-->
   <rosparam file="$(find gestelt_bringup)/config/learning_agile_mission.yaml" command="load"/>
  <!-- initial position -->
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="-3.8"/>
  <arg name="inv_init_x" default="$(eval 0-arg('init_x'))"/>
  <arg name="inv_init_y" default="$(eval 0-arg('init_y'))"/>

  <!-- world_filename_rel is defined relative to gestelt_bringup/simulations/worlds -->
  <arg name="world_filename_rel" default="empty.world" />
  <!-- world_filename_abs is absolute filepath -->
  <arg name="world_filename_abs" default="$(find gestelt_bringup)/simulation/worlds/$(arg world_filename_rel)" />

  <!-- Gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_filename_abs)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="physics" value="ode"/>
  </include>

  <!-- Spawn drone in gazebo with mavros plugin -->
  <include file="$(find gestelt_bringup)/launch/sitl/include/px4_sitl.xml">
    <arg name="vehicle" default="iris"/>
    <arg name="model"   default="raynor"/>
    <arg name="init_x"  value="$(arg init_x)"/>
    <arg name="init_y"  value="$(arg init_y)"/>
    <arg name="init_z"  value="0.0"/>
  </include>

  <!-- Add static transform from world to map -->
  <!-- map frame only used in the simulation-->
  <node pkg="tf" type="static_transform_publisher" 
    name="world_to_map_tf" 
    args="$(arg inv_init_x) $(arg inv_init_y) 0 0 0 0 1 world map 100">
  </node>

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" 
    args="-d $(find gestelt_bringup)/launch/rviz/gz_sim.rviz"/>

</launch>