<launch>
    <arg name="drone_id" default="0"/>
    <arg name="drone_id_ns" value="drone$(arg drone_id)"/>
    <arg name="drone_origin_frame" default="$(arg drone_id_ns)_origin" />
    <!-- Input/output topics -->
    <arg name="odometry_topic" default="mavros/local_position/odom" />

    <!--- Trajectory planner -->
    <!-- <node name="planner" pkg="mav_trajectory_generation_example" type="trajectory_generation_6dof_example" output="screen">
        <param name="/max_v" value="1.5" type="double"/>
        <param name="/max_a" value="6.0" type="double"/>
        <remap from="uav_pose" to="/$(arg drone_id_ns)/$(arg odometry_topic)"/>
    </node> -->

    <!--- Trajectory planner -->
    <node name="trajectory_planner" pkg="mav_trajectory_generation_example" type="trajectory_generation_example" output="screen">
        <param name="/max_v" value="1.5" type="double"/>
        <param name="/max_a" value="6.0" type="double"/>
        <!-- subscribed topics -->
        <remap from="uav_pose" to="/$(arg drone_id_ns)/$(arg odometry_topic)"/>
        <!-- published topics -->
        <remap from="trajectory" to="/$(arg drone_id_ns)/sample_trajectory"/>
    </node>

    <!--- Trajectory sampler -->
    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen">
        <!-- subscribed topics -->
        <remap from="path_segments_4D" to="/$(arg drone_id_ns)/sample_trajectory"/>
        <!-- published topics -->
        <remap from="command/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
    </node>

</launch>
