<launch>
  <!-- Spawns Gazebo model and PX4 SITL instances -->

  <!-- Vehicle name used by PX4 configuration -->
  <arg name="vehicle" default="iris"/>
  <!-- Actual model SDF to be spawned -->
  <arg name="model" default="raynor"/> 
  <!-- agent configuration -->
  <arg name="drone_id" default="0"/> 
  <arg name="init_x" default="0.0"/> 
  <arg name="init_y" default="0.0"/> 

  <!-- Drone in gazebo with mavros plugin -->
  <include file="$(find gestelt_bringup)/launch/sitl/px4_sitl.xml">
    <arg name="drone_id"   value="$(arg drone_id)"/>
    <arg name="vehicle" default="$(arg vehicle)"/>
    <arg name="model" default="$(arg model)"/>
    <arg name="init_x"     value="$(arg init_x)"/>
    <arg name="init_y"     value="$(arg init_y)"/>
    <arg name="init_z"     value="0.0"/>
  </include>

</launch>
