<launch>
  <!-- num_drones must be at least 2 even if we are planning for a single drone -->
  <arg name="num_drones" default="5"/>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" default="5.0"/>
  <arg name="map_size_y" default="5.0"/>
  <arg name="map_size_z" default=" 2.5"/>
  <!-- Input/output topics -->
  <arg name="cloud_topic" default="camera/depth/points_downsampled" />
  <!-- Use value 3 for fake_map, Use value 1 for actual map -->
  <arg name="POSE_TYPE" default="1" />
  <arg name="SENSOR_TYPE" default="1" />
  <!-- Agent configuration -->
  <arg name="drone_id" default="0"/>
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>

  <!-- Drone 0 -->
  <include file="$(find gestelt_bringup)/launch/ego_planner.launch">
    <arg name="drone_id"   value="$(arg drone_id)"/>
    <!-- <arg name="init_x"     value="$(arg init_x)"/>
    <arg name="init_y"     value="$(arg init_y)"/>
    <arg name="init_z"     value="0.0"/> -->
    <arg name="num_drones" value="$(arg num_drones)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="POSE_TYPE" value="$(arg POSE_TYPE)" />
    <arg name="SENSOR_TYPE" value="$(arg SENSOR_TYPE)" />
  </include>

</launch>
