<launch>
  <arg name="num_drones" value="2"/>
  <arg name="point_cloud_topic" value="camera/depth/points" />
  <arg name="point_cloud_topic_ds" value="camera/depth/points_downsampled" />

  <!--  swarm bridge re-broadcasts the trajectories of all drones -->
  <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
    <arg name="drone_id" value="999"/>
    <arg name="broadcast_ip" value="127.0.0.255"/>
  </include>

  <!-- Collision checker -->
  <node pkg="central_benchmark" type="swarm_collision_checker" 
    name="swarm_collision_checker" output="screen">
    <param name="~num_drones" value="$(arg num_drones)" />
    <param name="~collision_tolerance" value="0.6" />
    <param name="~check_collision_freq" value="10.0" />
  </node>

  <!-- drone 0: Downsamples the input cloud -->
  <node pkg="central_benchmark" type="cloud_downsampler" 
    name="drone0_cloud_downsampler" output="screen">
    <param name="~queue_size" value="5" />
    <param name="~voxel_size" value="0.1" />

    <remap from="~cloud_in" to="/drone0/$(arg point_cloud_topic)" />
    <remap from="~cloud_out" to="/drone0/$(arg point_cloud_topic_ds)" />
  </node>

  <!-- drone 1: Downsamples the input cloud -->
  <node pkg="central_benchmark" type="cloud_downsampler" 
    name="drone1_cloud_downsampler" output="screen">
    <param name="~queue_size" value="5" />
    <param name="~voxel_size" value="0.1" />

    <remap from="~cloud_in" to="/drone1/$(arg point_cloud_topic)" />
    <remap from="~cloud_out" to="/drone1/$(arg point_cloud_topic_ds)" />
  </node>

  <!-- drone 2: Downsamples the input cloud -->
  <node pkg="central_benchmark" type="cloud_downsampler" 
    name="drone2_cloud_downsampler" output="screen">
    <param name="~queue_size" value="5" />
    <param name="~voxel_size" value="0.1" />

    <remap from="~cloud_in" to="/drone2/$(arg point_cloud_topic)" />
    <remap from="~cloud_out" to="/drone2/$(arg point_cloud_topic_ds)" />
  </node>

  <!-- drone 3: Downsamples the input cloud -->
  <node pkg="central_benchmark" type="cloud_downsampler" 
    name="drone3_cloud_downsampler" output="screen">
    <param name="~queue_size" value="5" />
    <param name="~voxel_size" value="0.1" />

    <remap from="~cloud_in" to="/drone3/$(arg point_cloud_topic)" />
    <remap from="~cloud_out" to="/drone3/$(arg point_cloud_topic_ds)" />
  </node>

</launch>
